<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>声明式渲染</title>
    <script src="../js/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{message}}
    </div>
    <h1 title="你好，悬停的时候，你能看见我！">我是H1标题</h1>
    <div id="app-2">
        <span v-bind:title="message">
             鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
    </div>
    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>
    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">你转消息</button>
    </div>
    <div id="app-6">
        <p>{{message}}</p>
        <input type="text" v-model="message">
    </div>
    <ol>
        <!-- 创建一个 todo-item 组件的实例 -->
        <todo-item></todo-item>
    </ol>

<div id="app-7">
    <p>{{message}}</p>
    <button v-on:click="reverseMsg()">逆转消息</button>
</div>

<div id="app-8">
    <button onclick="show()">Show</button>
</div>
</body>
</html>
<script>
    var app=new Vue({
        el:"#app",
        data:{
            message:"hello Vue !"
        }
    });

    var app2=new Vue({
        el:"#app-2",
        data:{
            message:"页面加载于"+new Date().toLocaleString()
        }
    });

    var app3=new Vue({
        el:"#app-3",
        data:{
            seen:true
        }
    });

    var app4=new Vue({
        el:"#app-4",
        data:{
            todos:[
                { text: '学习 JavaScript' },
                { text: '学习 Vue' },
                { text: '整个牛项目' }
            ]
        }
    });

    var app5=new Vue({
        el:"#app-5",
        data:{
            message:"hello vue!"
        },
        methods:{
            reverseMessage:function () {
                this.message=this.message.split("").reverse().join("");
            }
        }
    });

    var app6=new Vue({
        el:"#app-6",
        data:{
            message:"hello vue!"
        }
    });

    // 定义名为 todo-item 的新组件
    Vue.component('todo-item', {
        template: '<li>这是个待办项</li>'
    });

    var add=new Vue({
        el:"todo-item"
    });

    var app7=new Vue({
        el:"#app-7",
        data:{
            message:"yihu"
        },
        methods:{
            reverseMsg:function () {
                this.message=this.message.split("").reverse().join("")
            }
        }
    });

    function show() {
        alert(1);
    }
</script>