<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>v-for和v-if的优先级</title>
    <script src="../js/vue/dist/vue.js"></script>
</head>
<body>
    <ul id="app">
        <li v-for="todo in todos" v-if="!todo.isComplete">
            {{ todo.msg }}
        </li>
    </ul>
<div id="todo-list-example">
    <input type="text" placeholder="Add a todo"
            v-model="newTodoText"
            v-on:keyup.enter="addNewTodo"
    >
    <ul>
        <li is="todo-item"
            v-for="(todo,index) in todos"
            :key="todo.id"
            :title1="todo.title"
            @remove1="todos.splice(index,1)"
        ></li>
    </ul>
</div>

</body>
</html>
<script>
   var app=new Vue({
       el:"#app",
       data:{
           todos:[
               {msg:1,isComplete:false},
               {msg:2,isComplete:true},
               {msg:3,isComplete:false},
               {msg:4,isComplete:true},
               {msg:5,isComplete:false},
               {msg:6,isComplete:true},
               {msg:7,isComplete:false}
           ]
       }
   });

   Vue.component('todo-item', {
       template: '\
    <li>\
      {{ title1 }}\
      <button v-on:click="$emit(\'remove1\')">X</button>\
    </li>\
  ',
       props: ['title1']
   });

   new Vue({
       el: '#todo-list-example',
       data: {
           newTodoText: '',
           todos: [
               {
                   id: 1,
                   title: 'Do the dishes'
               },
               {
                   id: 2,
                   title: 'Take out the trash'
               },
               {
                   id: 3,
                   title: 'Mow the lawn'
               }
           ],
           nextTodoId: 4
       },
       methods: {
           addNewTodo: function () {
               this.todos.push({
                   id: this.nextTodoId++,
                   title: this.newTodoText
               });
               this.newTodoText = ''
           }
       }
   })
</script>